#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #eee; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 96%;
  height: 80%;
}
/* Tab view styles */
@media (max-width: 768px) and (min-width: 500px) {
  /* or some other mobile breakpoint */
  .swiper {
    height: 50%;
    width: 98%;
  }
}
/* Mobile view styles */
@media (max-width: 500px) {
  /* or some other mobile breakpoint */
  .swiper {
    height: 30%;
    width: 100%;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
