.fdiv {
  position: relative;
  top: 38%;
  background-color: rgba(231, 246, 255, 0.616);
}

@media (max-width: 768px) {
  .fdiv {
    position: relative;
    top: 101%;
    align-items: center;
  }
}
.ndivf {
  align-items: center;
}
.wfdiv {
  align-items: center;
}
