.Reaserchdiv {
  position: relative;
  top: 25%;
  background-color: rgba(231, 246, 255, 0.616);
  padding-top: 0px;
  padding-left: 100px;
  padding-right: 100px;
}
.text-3xl font-bold nums {
  color: #000000;
  font-size: 10px;
}
@media (max-width: 768px) {
  .Reaserchdiv {
    position: relative;
    top: 25%;
  }
  .nums {
    font-size: small;
  }
}
